---
import ExperienceItem from "./ExperienceItem.astro";
import { TAGS } from "./Tags.astro";
const EXPERIENCIE = [
  {
    date: "Junio 2024",
    title: "SSr. Fullstack Developer",
    company: "Teamcore Solutions - Chile",
    description:
      "Desarrollo de aplicaciones web en django y React.JS, mantenedor del proyecto Teamcore Legacy para FEMSA.",
    tags: [
      TAGS.DJANGO,
      TAGS.REACT,
      TAGS.POSTGRES,
      TAGS.FIREBASE,
      TAGS.DOCKER,
      TAGS.PYTHON,
    ],
  },
  {
    date: "Enero 2023 - Marzo 2024",
    title: "SSr. Software Developer",
    company: "Coordinadora Mercantil S.A",
    description:
      "Desarrollo de aplicaciones web y lider tecnico del proyecto Coordinadora Full, un producto interno para la gestion de pedidos e inventario en bodega con mas de 150 tiendas, 5 ciudades principales y más 50.000 ventas en 2023.",
    tags: [
      TAGS.FASTIFY,
      TAGS.REACT,
      TAGS.POSTGRES,
      TAGS.FIREBASE,
      TAGS.DOCKER,
      TAGS.PYTHON,
    ],
  },
  {
    date: "Marzo 2021 - Enero 2023",
    title: "Jr. Software Developer",
    company: "Coordinadora Mercantil S.A",
    description:
      "Desarrollador de aplicaciones web con react, nodejs y firebase y PostgreSQL.",
    tags: [TAGS.FASTIFY, TAGS.REACT, TAGS.POSTGRES, TAGS.FIREBASE, TAGS.PYTHON],
  },
  {
    date: "Octubre 2020 - Diciembre 2020",
    title: "Backend Developer",
    company: "Priviet S.A.S",
    description:
      "Desarrollador de software backend de un integrador de pedidos de shopify de una tienda de perfumeria en linea. Integraba clientes, pedidos, envios y proveedores de envios.",
    tags: [TAGS.DJANGO, TAGS.POSTGRES, TAGS.PYTHON],
  },
  {
    date: "Septiembre 2020 - Octubre 2020",
    title: "Backend Developer",
    company: "ITP Fiber",
    description:
      "Desarrollador de software backend en un sistema de gestion de clientes para una prestadora de servicio de fibra optica.",
    tags: [TAGS.DJANGO, TAGS.POSTGRES, TAGS.PYTHON],
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
